header
{
background-color: darkgray;
}
h1
{
text-align: center;
-webkit-text-stroke-color:#e0e0e0;
-webkit-text-stroke-width: 0.8px;
color:darkslateblue;
background-color:darkgray;
font-weight: bold;
}

body
{
background-color: darkgrey;
color: #e0e0e0;
}
.BotonMenu1
{
 padding: 20px;
 color:#e0e0e0;
 background-color: darkslateblue;
 padding: 10px 20px;
 border: 2px solid black;
 border-radius: 10px;
}
.BotonMenu1:hover
{
    font-weight: bold;
    transition-duration: 0.3s;
    scale: 110%
}
.ClaseMenu1
{
    width: 30%;
    border-collapse:separate;/* Separacion entre celdas */
    border-spacing: 10px; /* Espacio entre celdas */
    text-align: center;
}
.Preview
{
    text-align: center;
    font-size: 25px;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: 0.3px;
    color:darkslateblue;
    background-color:darkgray;
    font-weight: bold;
}
.PreviewN
{
    text-align: center;
    font-size: 25px;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: 0.3px;
    color:darkslateblue;
    background-color:darkgray;
    font-weight: bold; 
}
-->
